body {
  padding-left: 5em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: blue;
  }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
  color: red;
}
h2 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
  color: green;
  text-align:center;
}
